# Ambiente virtual
.venv/
venv/
env/

# Arquivos temporários do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações locais e variáveis de ambiente
.env
.env.*
!.env.example

# Arquivos de testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# Configurações de editores
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.log
*.tmp